<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
</head>
<style>
    .first {
        width: max-content;
        height: max-content;
        margin: auto;
    }

    .default {
        background: #eeeeee;
    }

    .weak {
        background: #FF0000;
    }

    .medium {
        background: #FF9900;
    }

    .strong {
        background: #33CC00;
    }

    input {
        height: 20px;
        line-height: 20px;
        width: 210px;
    }

    span {
        display: inline-block;
        width: 70px;
        height: 30px;
        line-height: 30px;
        background: #ddd;
        text-align: center;
        margin: 4px 2px;
    }
</style>
<body>
<br/>
<br/>
<div class="first">
    <strong>修改密码</strong>
</div>
<br/>
<div class="first">
    <form name="modify" action="/password" method="post" accept-charset="UTF-8">
        <input type="hidden" name="_method" value="put"/>
        <div class="first">
            <label for="pwd1"></label><input id="pwd1"
                                             type="password"
                                             name="pwd"
                                             placeholder="新密码"
                                             required="required"
        />
        </div>
        <br/>
        <div class="first">
            密 码 强 度：<span>弱</span><span>中</span><span>强</span>
        </div>
        <br/>
        <div class="first">
            <label for="pwd2"></label><input id="pwd2"
                                             type="password"
                                             placeholder="确认新密码"
                                             required="required"
        />
            <div id="warning"></div>
        </div>

        <br/>
        <div class="first">
            <label for="email"></label><input id="email"
                                              type="text"
                                              name="email"
                                              placeholder="电子邮箱"
                                              required="required"
        />
            <div id="emailwn">请输入正确电子邮箱，用于找回密码</div>
        </div>
        <br/>
        <div class="first">
            <label>
                <input
                        id="ver"
                        type="text"
                        name="verify"
                        placeholder="验证码"
                        required="required"
                />
            </label>
            <img src="/getverify" height="40" width="100" alt="验证码"/>
            <a href="/modifypwd/page"> 看不清，换一张</a>
        </div>
        <br/>
        <div class="first">
            <button type="button" onclick="submit1()">确定登录</button>
        </div>
    </form>
</div>
<div class="first" th:text="${msg}"></div>
</body>
</html>
<script type="text/javascript">
    var _pwd1;
    var _pwd2;
    var _email;
    window.onload = function () {

        const oInput = document.getElementById('pwd1');
        oInput.value = '';
        const spans = document.getElementsByTagName('span');
        const pwd2 = document.getElementById("pwd2");
        const wn = document.getElementById("warning");
        const em = document.getElementById("email");
        const emwn = document.getElementById("emailwn");

        oInput.onkeyup = function () {
            //强度状态设为默认
            spans[0].className = spans[1].className = spans[2].className = "default";

            const pwd = this.value;
            let result = 0;
            for (var i = 0, len = pwd.length; i < len; ++i) {
                result |= charType(pwd.charCodeAt(i));
            }

            let level = 0;
            //对result进行四次循环，计算其level
            for (var i = 0; i <= 4; i++) {
                if (result & 1) {
                    level++;
                }
                //右移一位
                result = result >>> 1;
            }

            if (pwd.length >= 6) {
                _pwd1 = true;
                switch (level) {
                    case 1:
                        spans[0].className = "weak";
                        break;
                    case 2:
                        spans[0].className = "medium";
                        spans[1].className = "medium";
                        break;
                    case 3:
                    case 4:
                        spans[0].className = "strong";
                        spans[1].className = "strong";
                        spans[2].className = "strong";
                        break;
                }
            } else {
                _pwd1 = false;
                wn.innerHTML = "密码至少6位！";
                spans[1].className = "default";
                spans[2].className = "default";
                spans[3].className = "default";
            }


        }

        pwd2.onkeyup = function () {
            var pwd2 = this.value;
            var pwd1 = oInput.value;
            if (pwd1 !== pwd2) {
                _pwd2 = false;
                wn.innerHTML = "密码不一致！";
            } else {
                _pwd2 = true;
                wn.innerHTML = "";
            }
        }

        em.onkeyup = function () {
            re = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
            if (re.test(em.value)) {
                _email = true;
                emwn.innerHTML = "";
            } else {
                _email = false;
                emwn.innerHTML = "请输入合法邮箱!";
            }
        }
    }

    /*
        定义一个函数，对给定的数分为四类(判断密码类型)，返回十进制1，2，4，8
        数字 0001 -->1  48~57
        小写字母 0010 -->2  97~122
        大写字母 0100 -->4  65~90
        特殊 1000 --> 8 其它
    */
    function charType(num) {
        if (num >= 48 && num <= 57) {
            return 1;
        }
        if (num >= 97 && num <= 122) {
            return 2;
        }
        if (num >= 65 && num <= 90) {
            return 4;
        }
        return 8;
    }

    function submit1() {
        var v = document.getElementById("ver");

        if (_pwd1 && _pwd2 && _email && v.value !== "") {
            document.modify.submit();
        } else {
            alert("输入有错误！");
        }
    }
</script>