<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
</head>
<body>
<br/>
<br/>
<div align="center">
    <font size="5"> <strong>注册</strong></font>
</div>
<br/>
<div>
    <form name="register" action="/usermgr" method="post">
        <input type="hidden" name="_method" value=""/>
        <div align="center">
            <input
                    type="text"
                    name="phone"
                    placeholder="手机号"
                    required="required"
            />
        </div>
        <br/>
        <div align="center">
            <input
                    type="text"
                    name="verifycode"
                    placeholder="验证码"
                    required="required"
            />
            <button id="verify1" style="color: aqua" type="button" onclick="verify()">发送短信</button>
        </div>
        <br/>
        <div align="center">
            <input type="checkbox" name="agree" checked>注册即表示您阅读并同意<a href="/agreement">《用户使用协议》</a>
            <br>
            <br>
            <button type="button" onclick="submit()">注册</button>
        </div>
    </form>
</div>
<div th:text="${msg}"></div>
</body>
</html>
<script>
    var x;
    var i = 60;

    function a() {
        i--;
        return i;
    }

    function verify() {
        document.getElementById("verify1").setAttribute("disabled", true);

        x = setInterval(function () {
            var ii = a();
            if (ii < 1) {
                clearInterval(x);
                re();
            } else document.getElementById("verify1").innerHTML = ii + "秒";
        }, 1000);


    }

    function re() {
        i = 60;
        document.getElementById("verify1").removeAttribute("disabled");
        document.getElementById("verify1").innerHTML = "发送短信";
    }

    function submit() {
        document.register._method.value = "post";
        document.register.submit();
    }
</script>