<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
    <style>
        .register {
            width: max-content;
            height: max-content;
            margin: auto;
        }
    </style>
</head>
<body>
<br/>
<br/>
<div class="register">
    <h1>
        <strong>注册</strong>
    </h1>
    <span style="font-size: large; "></span>
</div>
<br/>
<div class="register">
    <form name="register" action="/usermgr" method="post">
        <div class="register">
            <label>
                <input
                        id="phone22"
                        type="text"
                        name="phone"
                        placeholder="手机号"
                        required="required"
                />
            </label>
        </div>
        <br/>
        <div class="register">
            <label>
                <input
                        id="verify22"
                        type="text"
                        name="verifycode"
                        placeholder="验证码"
                        required="required"
                />
            </label>
            <button id="verify1" style="color: aqua" type="button" onclick="verify()">发送短信</button>
        </div>
        <br/>
        <div class="register">
            <label>
                <input type="checkbox" name="agree" checked>
            </label>注册即表示您阅读并同意<a href="/agreement">《用户使用协议》</a>
            <br>
            <br>

        </div>
        <div class="register">
            <button type="button" onclick="submit1()">注册</button>
        </div>
    </form>
</div>
<div class="register" th:text="${msg}"></div>
</body>
</html>
<script>
    let x;
    let i = 60;

    function a() {
        i--;
        return i;
    }

    function verify() {
        document.getElementById("verify1").setAttribute("disabled", "true");

        x = setInterval(function () {
            const ii = a();
            if (ii < 1) {
                clearInterval(x);
                re();
            } else document.getElementById("verify1").innerHTML = ii + "秒";
        }, 1000);


    }

    function re() {
        i = 60;
        document.getElementById("verify1").removeAttribute("disabled");
        document.getElementById("verify1").innerHTML = "发送短信";
    }

    function submit1() {
        if (document.getElementById("phone22").value === "" || document.getElementById("verify22").value === "") {
            alert("请填写必填字段");
        } else document.register.submit();
    }
</script>