<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8" content=""/>
    <title>网络抽奖系统</title>
    <style>
        .welcome{
            width: max-content;
            height: max-content;
            margin: auto;
        }
        .login{
            width: max-content;
            height: max-content;
            margin: auto;
        }
        .register{
            width: max-content;
            height: max-content;
            margin: auto;
        }
        .msg{
            width: max-content;
            height: max-content;
            margin: auto;
        }
    </style>
</head>

<body>
<br/>
<br/>
<div>
    <div class="welcome">
        <span style="font-size: large; "> <strong>欢迎访问</strong></span>
    </div>
    <br/>
    <br/>
    <form action="/register/page" method="get">
        <div class="register">
            <button type="submit">注册</button>
        </div>
    </form>
    <br/>
    <form action="/login/page" method="get">
        <div class="login">
            <button type="submit">登录</button>
        </div>
    </form>
</div>

<div class="msg" th:text="${msg}"></div>
</body>
</html>
